 html{
    background-color: black;
}
*{
    color: white;
    text-align: center;
}
h1{
    text-transform: uppercase;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
}